In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
data = pd.read_excel('_2021.xls')
data = pd.DataFrame(data)

,測站,日期,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,--------------------,--------------------,--------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,...,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------
1,新竹,2021-01-01 00:00:00,AMB_TEMP,11.1,11.2,11.4,11.5,11.6,11.7,11.9,...,16.6,16.3,15.6,14.8,14.4,14.5,14.7,14.7,14.6,14.4
2,新竹,2021-01-01 00:00:00,CH4,2.01,1.99,2,2.02,2.03,2.02,2.02,...,1.98,1.97,1.97,2,2.02,2.01,2.01,2,1.98,1.98
3,新竹,2021-01-01 00:00:00,CO,0.31,0.28,0.28,0.33,0.32,0.26,0.25,...,0.31,0.29,0.29,0.33,0.34,0.34,0.34,0.29,0.24,0.21
4,新竹,2021-01-01 00:00:00,NMHC,0.1,0.1,0.08,0.09,0.1,0.07,0.07,...,0.06,0.07,0.08,0.12,0.13,0.1,0.1,0.09,0.05,0.06

In [3]:
data = data.rename(columns={u"測站                  ": "position", u"日期                  ": "DATE", u"測項   ":"item"})
data.head()

,position,DATE,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,--------------------,--------------------,--------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,...,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------
1,新竹,2021-01-01 00:00:00,AMB_TEMP,11.1,11.2,11.4,11.5,11.6,11.7,11.9,...,16.6,16.3,15.6,14.8,14.4,14.5,14.7,14.7,14.6,14.4
2,新竹,2021-01-01 00:00:00,CH4,2.01,1.99,2,2.02,2.03,2.02,2.02,...,1.98,1.97,1.97,2,2.02,2.01,2.01,2,1.98,1.98
3,新竹,2021-01-01 00:00:00,CO,0.31,0.28,0.28,0.33,0.32,0.26,0.25,...,0.31,0.29,0.29,0.33,0.34,0.34,0.34,0.29,0.24,0.21
4,新竹,2021-01-01 00:00:00,NMHC,0.1,0.1,0.08,0.09,0.1,0.07,0.07,...,0.06,0.07,0.08,0.12,0.13,0.1,0.1,0.09,0.05,0.06

In [5]:
data = data.drop('position',axis =1)
data = data.drop(data.index[0])
data.head()

,DATE,item,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
1,2021-01-01 00:00:00,AMB_TEMP,11.1,11.2,11.4,11.5,11.6,11.7,11.9,12.1,...,16.6,16.3,15.6,14.8,14.4,14.5,14.7,14.7,14.6,14.4
2,2021-01-01 00:00:00,CH4,2.01,1.99,2,2.02,2.03,2.02,2.02,2.01,...,1.98,1.97,1.97,2,2.02,2.01,2.01,2,1.98,1.98
3,2021-01-01 00:00:00,CO,0.31,0.28,0.28,0.33,0.32,0.26,0.25,0.27,...,0.31,0.29,0.29,0.33,0.34,0.34,0.34,0.29,0.24,0.21
4,2021-01-01 00:00:00,NMHC,0.1,0.1,0.08,0.09,0.1,0.07,0.07,0.08,...,0.06,0.07,0.08,0.12,0.13,0.1,0.1,0.09,0.05,0.06
5,2021-01-01 00:00:00,NO,1.5,1.4,1.4,1.5,1.4,1.3,1.4,1.9,...,3.5,2.6,2.3,2,1.8,1.8,1.8,1.7,1.5,1.4

### 轉換時間型態

In [6]:
df=data
for index in df.index:
    df.DATE[index] = df.DATE[index].date()
df.head()

,DATE,item,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
1,2021-01-01,AMB_TEMP,11.1,11.2,11.4,11.5,11.6,11.7,11.9,12.1,...,16.6,16.3,15.6,14.8,14.4,14.5,14.7,14.7,14.6,14.4
2,2021-01-01,CH4,2.01,1.99,2,2.02,2.03,2.02,2.02,2.01,...,1.98,1.97,1.97,2,2.02,2.01,2.01,2,1.98,1.98
3,2021-01-01,CO,0.31,0.28,0.28,0.33,0.32,0.26,0.25,0.27,...,0.31,0.29,0.29,0.33,0.34,0.34,0.34,0.29,0.24,0.21
4,2021-01-01,NMHC,0.1,0.1,0.08,0.09,0.1,0.07,0.07,0.08,...,0.06,0.07,0.08,0.12,0.13,0.1,0.1,0.09,0.05,0.06
5,2021-01-01,NO,1.5,1.4,1.4,1.5,1.4,1.3,1.4,1.9,...,3.5,2.6,2.3,2,1.8,1.8,1.8,1.7,1.5,1.4

### 過濾時間範圍 10 月～12月

In [7]:
df_2 = df
df_2['DATE'] = pd.to_datetime(df_2['DATE'], format='%Y-%m-%d')
filtered_df = df.loc[(df_2['DATE'] >= '2021-10-01')
                     & (df_2['DATE'] <= '2021-12-31')]
# Display
filtered_df.reset_index(inplace = True)
filtered_df = filtered_df.drop(['index'],axis =1 )
filtered_df

,DATE,item,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,2021-10-01,AMB_TEMP,28.3,28.3,27.8,27.8,27.6,27.6,27.7,28.4,...,31.6,31.4,30.9,30.5,30.2,29.8,29.4,29.1,28.7,28.2
1,2021-10-01,CH4,2.04,2.02,2.12,2.18,2.19,2.24,2.21,2.17,...,1.96,1.97,2.01,2.06,2.07,2.05,2.04,2.03,2.08,2.08
2,2021-10-01,CO,0.34,0.3,0.3,0.29,0.3,0.33,0.44,0.62,...,0.25,0.27,0.32,0.43,0.45,0.45,0.43,0.42,0.43,0.39
3,2021-10-01,NMHC,0.17,0.13,0.12,0.14,0.17,0.16,0.18,0.23,...,0.04,0.06,0.05,0.17,0.24,0.22,0.16,0.14,0.16,0.14
4,2021-10-01,NO,0.9,0.2,0.5,0.4,0.2,0.6,2.2,3.6,...,0.5,0.5,0.5,0.3,0.3,0.3,0.3,0.3,0.4,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,2021-12-31,THC,2.24,2.22,2.19,2.17,2.15,2.1,2.1,2.11,...,2.07,2.05,2.09,2.1,2.05,2.1,2.15,2.13,2.09,2.05
1652,2021-12-31,WD_HR,38,51,50,47,53,53,46,49,...,51,54,48,53,54,53,47,37,42,48
1653,2021-12-31,WIND_DIREC,37,59,37,50,62,42,41,59,...,66,45,40,59,57,55,41,36,53,39
1654,2021-12-31,WIND_SPEED,2.6,2.6,2.3,2.4,3.4,3.2,3.1,3,...,4.8,3.2,2.8,3.2,2.5,2.2,1.7,2.5,2.3,1.9
1655,2021-12-31,WS_HR,2.5,2,2,2,2.5,2.6,2.6,2.5,...,3.8,3.2,2.9,2.8,2.4,2,1.6,2,2.1,1.7

In [8]:
# filter_2 用於處理所有數值
filter_2 = filtered_df.drop(['DATE','item'],axis =1)
filter_2.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,28.3,28.3,27.8,27.8,27.6,27.6,27.7,28.4,30,30.9,...,31.6,31.4,30.9,30.5,30.2,29.8,29.4,29.1,28.7,28.2
1,2.04,2.02,2.12,2.18,2.19,2.24,2.21,2.17,2.13,2.07,...,1.96,1.97,2.01,2.06,2.07,2.05,2.04,2.03,2.08,2.08
2,0.34,0.3,0.3,0.29,0.3,0.33,0.44,0.62,0.6,0.45,...,0.25,0.27,0.32,0.43,0.45,0.45,0.43,0.42,0.43,0.39
3,0.17,0.13,0.12,0.14,0.17,0.16,0.18,0.23,0.2,0.13,...,0.04,0.06,0.05,0.17,0.24,0.22,0.16,0.14,0.16,0.14
4,0.9,0.2,0.5,0.4,0.2,0.6,2.2,3.6,2.7,1.3,...,0.5,0.5,0.5,0.3,0.3,0.3,0.3,0.3,0.4,0.6

### 處理缺失值

#### 將缺失值做前後一小時的平均處理，若第一個小時為空值則設成0
#### 最後將資料轉成float 型態在和原資料的item及時間做合併

Filter Nan value

In [9]:
#判斷是否為浮點數

def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False

In [10]:
#將缺失值做前後一小時的平均處理，若第一個小時為空值則設成0

for r_index in filter_2.index:

    for i in filter_2.iloc[r_index].iteritems():

            position = i # 紀錄當下的位置

            if isfloat(position[1]): # 判斷是否為數字        
                last = position # last紀錄上一個數字

            else:
                c_index = i[0]

                if c_index == 0: # 若一開始即為空值，則將第一個數值設為0

                    list_position = list(position) # 更新紀錄的position的值
                    list_position[1] = 0
                    position = tuple(list_position)

                    filter_2.iloc[[r_index],[c_index]] = 0 

                else:
                    next_one = 0 # 取消此行，則ｔａｉｌ皆為空的數字為最後一個有被記錄的數字

                    for j in range(c_index +1 ,len(filter_2.iloc[r_index])): # 找到下一個非空值的值
                        if isfloat(filter_2.iloc[[r_index],[j]].values):
                            next_one = filter_2.iloc[[r_index],[j]].values
                            break

                    list_position = list(position)
                    list_last = list(last)
                    list_position[1] = (list_last[1] + next_one)/2.0 
                    position = tuple(list_position)

                    new_value = float(list_position[-1]) # 將新的value取代到原本的dataframe:filter_2
                    filter_2.iloc[[r_index],[c_index]] = new_value

                last = position

將資料型態轉成float

In [12]:
filter_2 = filter_2.astype(float)
filter_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1656 entries, 0 to 1655
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1656 non-null   float64
 1   1       1656 non-null   float64
 2   2       1656 non-null   float64
 3   3       1656 non-null   float64
 4   4       1656 non-null   float64
 5   5       1656 non-null   float64
 6   6       1656 non-null   float64
 7   7       1656 non-null   float64
 8   8       1656 non-null   float64
 9   9       1656 non-null   float64
 10  10      1656 non-null   float64
 11  11      1656 non-null   float64
 12  12      1656 non-null   float64
 13  13      1656 non-null   float64
 14  14      1656 non-null   float64
 15  15      1656 non-null   float64
 16  16      1656 non-null   float64
 17  17      1656 non-null   float64
 18  18      1656 non-null   float64
 19  19      1656 non-null   float64
 20  20      1656 non-null   float64
 21  21      1656 non-null   float64
 22  22      1656 non-null   float64
 23  23      1656 non-null   float64
dtypes: float64(24)
memory usage: 310.6 KB

In [13]:
df_pro_nan = pd.concat([filtered_df.DATE,filtered_df.item ,filter_2.reindex(filtered_df.index)],axis =1)
df_pro_nan.head()

,DATE,item,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,2021-10-01,AMB_TEMP,28.30,28.30,27.80,27.80,27.60,27.60,27.70,28.40,...,31.60,31.40,30.90,30.50,30.20,29.80,29.40,29.10,28.70,28.20
1,2021-10-01,CH4,2.04,2.02,2.12,2.18,2.19,2.24,2.21,2.17,...,1.96,1.97,2.01,2.06,2.07,2.05,2.04,2.03,2.08,2.08
2,2021-10-01,CO,0.34,0.30,0.30,0.29,0.30,0.33,0.44,0.62,...,0.25,0.27,0.32,0.43,0.45,0.45,0.43,0.42,0.43,0.39
3,2021-10-01,NMHC,0.17,0.13,0.12,0.14,0.17,0.16,0.18,0.23,...,0.04,0.06,0.05,0.17,0.24,0.22,0.16,0.14,0.16,0.14
4,2021-10-01,NO,0.90,0.20,0.50,0.40,0.20,0.60,2.20,3.60,...,0.50,0.50,0.50,0.30,0.30,0.30,0.30,0.30,0.40,0.60

### 製作時序資料: 將資料形式轉換為行(row)代表18種屬性，欄(column)代表逐時數據資料

In [14]:
item_index = list(dict.fromkeys(df_pro_nan.item))
date_index = list(dict.fromkeys(df_pro_nan.DATE))

In [15]:
df_pro_nan.set_index(keys = ["DATE","item"],inplace=True)
df_pro_nan.head()

                                    0      1      2      3      4      5   \
DATE       item
2021-10-01 AMB_TEMP              28.30  28.30  27.80  27.80  27.60  27.60
           CH4                    2.04   2.02   2.12   2.18   2.19   2.24
           CO                     0.34   0.30   0.30   0.29   0.30   0.33
           NMHC                   0.17   0.13   0.12   0.14   0.17   0.16
           NO                     0.90   0.20   0.50   0.40   0.20   0.60

                                    6      7      8      9   ...     14  \
DATE       item                                              ...
2021-10-01 AMB_TEMP              27.70  28.40  30.00  30.90  ...  31.60
           CH4                    2.21   2.17   2.13   2.07  ...   1.96
           CO                     0.44   0.62   0.60   0.45  ...   0.25
           NMHC                   0.18   0.23   0.20   0.13  ...   0.04
           NO                     2.20   3.60   2.70   1.30  ...   0.50

                                    15     16     17     18     19     20  \
DATE       item
2021-10-01 AMB_TEMP              31.40  30.90  30.50  30.20  29.80  29.40
           CH4                    1.97   2.01   2.06   2.07   2.05   2.04
           CO                     0.27   0.32   0.43   0.45   0.45   0.43
           NMHC                   0.06   0.05   0.17   0.24   0.22   0.16
           NO                     0.50   0.50   0.30   0.30   0.30   0.30

                                    21     22     23
DATE       item
2021-10-01 AMB_TEMP              29.10  28.70  28.20
           CH4                    2.03   2.08   2.08
           CO                     0.42   0.43   0.39
           NMHC                   0.14   0.16   0.14
           NO                     0.30   0.40   0.60

[5 rows x 24 columns]

In [16]:
# 製作新的dataframe
date_arr = []
hour_arr =[]

for j in date_index:
    for i in range(0,24):
        date_arr.append(j)
        hour_arr.append(i)
        
arrays = [np.array(date_arr),
            np.array(hour_arr)]
new_format = pd.DataFrame(index=item_index,columns= arrays)

In [17]:
import datetime
from datetime import timedelta, date

end_date = df_pro_nan.index[-1][0]

# 利用時間index 來轉換成新的格式, 轉成18 X(92X24) (包含12月的資料)

for index in range(0,len(df_pro_nan.index),18): 
    if index == 0:
        date = df_pro_nan.index[index][0]
        
    else:   
        date = df_pro_nan.index[index-1][0] + datetime.timedelta(days=1)
    if date > end_date:
        break
    new_format [date] = df_pro_nan.loc [date]
    
new_format.head()

                     2021-10-01                                            \
                             0      1      2      3      4      5      6
AMB_TEMP                  28.30  28.30  27.80  27.80  27.60  27.60  27.70
CH4                        2.04   2.02   2.12   2.18   2.19   2.24   2.21
CO                         0.34   0.30   0.30   0.29   0.30   0.33   0.44
NMHC                       0.17   0.13   0.12   0.14   0.17   0.16   0.18
NO                         0.90   0.20   0.50   0.40   0.20   0.60   2.20

                                           ... 2021-12-31                      \
                         7      8      9   ...         14     15     16    17
AMB_TEMP              28.40  30.00  30.90  ...      18.10  17.50  16.80  16.3
CH4                    2.17   2.13   2.07  ...       1.99   1.98   1.99   2.0
CO                     0.62   0.60   0.45  ...       0.29   0.26   0.27   0.3
NMHC                   0.23   0.20   0.13  ...       0.08   0.07   0.10   0.1
NO                     3.60   2.70   1.30  ...       1.90   1.60   1.20   0.8


                         18     19     20     21     22     23
AMB_TEMP              16.10  15.80  15.60  15.70  15.90  16.10
CH4                    1.98   2.01   2.04   2.03   2.01   2.00
CO                     0.27   0.29   0.33   0.32   0.28   0.25
NMHC                   0.07   0.09   0.11   0.10   0.08   0.05
NO                     0.80   0.70   0.80   0.70   0.50   0.40

[5 rows x 2208 columns]

### 製作PM2.5的時間切割集 ： 取6小時，預測第1&6個小時

In [18]:
period = 7
col = [1,2,3,4,5,6]
model_data = pd.DataFrame(columns = col)

# 切割Ｘ為6個小時為一個特徵
for start_hour in range(0,len(new_format.columns)):
    range_data = pd.DataFrame(new_format.loc['PM2.5               '][start_hour:start_hour+period-1]).T
    try:
        d = pd.DataFrame(range_data.values, columns = col) #若無法執行，表示已超出時間範圍
        model_data = pd.concat([model_data,d],ignore_index = True)
    except:
        break
        
#取得未來第一個小時的pm2.5數值 : length 2203
t = []
for target in range(6,len(new_format.columns)):
    t.append(new_format.loc['PM2.5               '][target])
pm_1 = pd.DataFrame( t, columns = ['PM2.5'])

#取得未來第6個小時的pm2.5數值 : length 2197
t_2 = []
for target in range(11,len(new_format.columns)):
    t_2.append(new_format.loc['PM2.5               '][target])
pm_6 = pd.DataFrame( t_2, columns = ['PM2.5'])

### 製作所有特徵的時間切割集 ： 取6小時，預測第1&6個小時

In [19]:
period = 7
model_data_all = pd.DataFrame()
h_range = [1,2,3,4,5,6]

# 把每一個item的時間序列分別做，再做concat
for item_index in new_format.index:
    item_arr = []
    for c in range(1,7):
            item_arr.append(item_index)
            col = [np.array(item_arr),np.array(h_range)]
            
    item_df =pd.DataFrame(columns = col)

    for start_hour in range(0,len(new_format.columns)):
        range_data = pd.DataFrame(new_format.loc[item_index][start_hour:start_hour+period-1]).T
        
        try:
            d = pd.DataFrame(range_data.values, columns = col) #若無法執行，表示已超出時間範圍
            item_df= pd.concat([item_df,d],ignore_index = True)
            
        except:
            break
            
    model_data_all = pd.concat([model_data_all,item_df], axis=1)

### Split data to training set (Oct.~Nov.) and testing set (Oct.)

In [21]:
train_period_1 = 61*24-6
train_period_6 = 61*24-11

# predict 1st hour value
pm_train_1 = model_data[:train_period_1]
pm_test_1 = model_data[train_period_1:-1]

all_train_1 = model_data_all[:train_period_1]
all_test_1= model_data_all[train_period_1:-1]

y_train_1 = pm_1[:train_period_1]
y_test_1 = pm_1[train_period_1:]

# predict 6st hour value
pm_train_6 = model_data[:train_period_6]
pm_test_6 = model_data[train_period_6:-6]

all_train_6 = model_data_all[:train_period_6]
all_test_6= model_data_all[train_period_6:-6]

y_train_6 = pm_6[:train_period_6]
y_test_6 = pm_6[train_period_6:]

### Linear Regression

In [22]:
from sklearn.linear_model import LinearRegression
X = pm_train_1
y = y_train_1
reg = LinearRegression().fit(X, y)

# print('訓練集: ',reg.score(X,y))
# print('測試集: ',reg.score(pm_test_1,y_test_1))

predicted = reg.predict(pm_test_1)
print('LR MAE(predict 1st hour of PM2.5): ',np.mean(np.abs(y_test_1 - predicted)))

LR MAE(predict 1st hour of PM2.5):  PM2.5    2.680275
dtype: float64

/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [23]:
X = all_train_1
y = y_train_1
reg = LinearRegression().fit(X, y)
# print('訓練集: ',reg.score(X,y))
# print('測試集: ',reg.score(all_test_1,y_test_1))


predicted = reg.predict(all_test_1)
print('LR MAE(predict 6th hour of PM2.5): ',np.mean(np.abs(y_test_1 - predicted)))

LR MAE(predict 6th hour of PM2.5):  PM2.5    2.635699
dtype: float64

/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [24]:
X = pm_train_6
y = y_train_6
reg = LinearRegression().fit(X, y)
# print('訓練集: ',reg.score(X,y))
# print('測試集: ',reg.score(pm_test_6,y_test_6))

predicted = reg.predict(pm_test_6)
print('LR MAE(predict 1st hour of PM2.5) : ',np.mean(np.abs(y_test_6 - predicted)))

LR MAE(predict 1st hour of PM2.5) :  PM2.5    4.276428
dtype: float64

/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [25]:
X = all_train_6
y = y_train_6
reg = LinearRegression().fit(X, y)
# print('訓練集: ',reg.score(X,y))
# print('測試集: ',reg.score(all_test_6,y_test_6))

predicted = reg.predict(all_test_6)
print('LR MAE(predict 1st hour of PM2.5): ',np.mean(np.abs(y_test_6 - predicted)))

LR MAE(predict 1st hour of PM2.5):  PM2.5    4.237442
dtype: float64

/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

### XGBoost

In [26]:
import xgboost as xgb
from xgboost import XGBClassifier

xgbc = XGBClassifier()

X = pm_train_1.astype(float)
y = y_train_1.astype(float)

xgbc.fit(X, y)
predicted = xgbc.predict(X)

y_pred = xgbc.predict(pm_test_1)
y_pred_list = y_pred.tolist()

y_test_1_flat = y_test_1.values.flatten()

print('xgboost MAE (predict 1st hour of PM2.5): ',np.mean(np.abs(y_test_1_flat - y_pred_list)))

/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/afra1016/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[21:32:32] WARNING: /var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_44tbtwf8c1/croots/recipe/xgboost-split_1659548960882/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
xgboost MAE (predict 1st hour of PM2.5):  3.596774193548387

In [27]:
X = pm_train_6.astype(float)
y = y_train_6.astype(float)

xgbc.fit(X, y)
predicted = xgbc.predict(X)

y_pred = xgbc.predict(pm_test_6)
y_pred_list = y_pred.tolist()

y_test_6_flat = y_test_6.values.flatten()

print('xgboost MAE (predict 6th hour of PM2.5): ',np.mean(np.abs(y_test_6_flat - y_pred_list)))

[21:32:38] WARNING: /var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_44tbtwf8c1/croots/recipe/xgboost-split_1659548960882/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
xgboost MAE (predict 6th hour of PM2.5):  5.393817204301075

In [28]:
X = all_train_1.astype(float)
y = y_train_1.astype(float)

xgbc.fit(X, y)
predicted = xgbc.predict(X)

y_pred = xgbc.predict(all_test_1)
y_pred_list = y_pred.tolist()

y_test_1_flat = y_test_1.values.flatten()

print('xgboost MAE (predict 1st hour of PM2.5): ',np.mean(np.abs(y_test_1_flat - y_pred_list)))

[21:32:45] WARNING: /var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_44tbtwf8c1/croots/recipe/xgboost-split_1659548960882/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
xgboost MAE (predict 1st hour of PM2.5):  3.704301075268817

In [29]:
X = all_train_6.astype(float)
y = y_train_6.astype(float)

xgbc.fit(X, y)
predicted = xgbc.predict(X)

y_pred = xgbc.predict(all_test_6)
y_pred_list = y_pred.tolist()

y_test_6_flat = y_test_6.values.flatten()

print('xgboost MAE (predict 6th hour of PM2.5): ',np.mean(np.abs(y_test_6_flat - y_pred_list)))

[21:32:52] WARNING: /var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_44tbtwf8c1/croots/recipe/xgboost-split_1659548960882/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
xgboost MAE (predict 6th hour of PM2.5):  5.643817204301075